<!DOCTYPE html>
<html>

<head>
    <title>Update</title>
    <meta charset="utf-8" />
</head>

<body> 
    <h1>Operator</h1> 
        <label>ID</label> 
        <input readonly id="idInput" name="idoperator" value="{{operator.idoperator}}" /><br><br> 
        <label>Operator</label> 
        <input readonly id="operatorInput" name="name" value="{{operator.name}}" /><br><br> 
        <label>Phone</label> 
        <input readonly id="phoneInput" name="phonenumber" value="{{operator.phonenumber}}" /><br><br> 
    <a href="/operators">Back to List of Tours</a> 
</body>
<html>