<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Layout</title>

    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="container">
        {{{body}}}
    </div>
    {{>error}}
    <script src="js/main.js"></script>
</body>

</html>